body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}


.container {
    margin-top: 50px;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 15px;
}

a {
    display: block;
    background-color: #24527a;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    margin: 0 auto;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #4a739a;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}